*{
  box-sizing: border-box;
}
body{
  background-image: url("https://i.ibb.co/zS9rbWF/output-onlineimagetools-1.png");
  background-attachment: fixed;
  background-size: 100%;
}
img{
  max-width: 100%;
  box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
}
main{
  padding-bottom: 20px;
  margin: 0 auto;
}
div.spacing {
  padding: 20px;
}
div.nav-bar {
  margin: 0;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
  color: white;
  width: 100%;
}
header{
  display:flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
  padding: 20px 40px 20px 40px;
}

header a{
  text-decoration: none;
  color: inherit;
}
header a.logo{
  font-weight: bold;
  font-size: 1.5rem;
}
header nav{
  display:flex;
  gap: 15px;
}
div.post{
  display: grid;
  grid-template-columns: 1fr ;
  /* grid-template-columns: 0.9fr 1.1fr; */
  gap:20px;
  margin-bottom: 35px;
  max-width: 960px;
}
@media screen and (min-width: 600px) {
  div.post{
      grid-template-columns: 0.9fr 1.1fr;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
  }
  div.post:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}
div.card{
  padding: 20px 20px 20px 20px;
  background-color: rgb(225, 225, 225);
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  z-index: 2;
  margin: 20px auto;
}

div.post div.texts h2{
  margin:0;
  font-size: 2rem;
}
div.post div.texts a{
  text-decoration:none;
  color:inherit;
}
div.post p.info{
  margin:6px 0;
  color: rgb(255, 255, 255);
  font-size:.85rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
  font-weight: lighter;
}
div.post p.info a.author{
  color:rgb(255, 255, 255);
}
div.post p.summary{
  margin: 10px 0;
  line-height:  1.8rem;
  font-size: larger;
  font-weight: lighter;
  /* font-weight: bold; */
}
form.create-post {
  max-width: 900px;
  margin: 0 auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  z-index: 2;
  width: 100%;
  padding: 20px;
  text-align: center;
}

form.login, form.register {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
input{
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
button{
  width: 100%;
  display: block;
  background-color: #555;
  border: 0;
  color:#fff;
  border-radius: 5px;
  padding: 7px 0;
}
form.login h1, form.register h1{
  text-align: center;
}

div.post-page div.image{
  max-height: 200px;
  display: flex;
  overflow:hidden;
}
div.post-page div.image img{
  object-fit: cover;
  object-position: center center;
  width: 100%;
}
div.post-page a{
  color:#333;
  text-decoration: underline;
}
div.post-page h1{
  text-align: center;
  margin: 10px 0 5px;
}
div.post-page time{
  text-align: center;
  display:block;
  font-size: 0.7rem;
  color:rgb(255, 255, 255);
}
div.post-page div.author{
  text-align: center;
  margin-bottom: 20px;
  font-size:0.75rem;
  font-weight:bold;
}
div.post-page div.content p{
  line-height: 1.6rem;
}
div.edit-row{
  text-align: center;
  margin-bottom: 20px;
}
div.post-page a.edit-btn{
  background-color: #333;
  display:inline-flex;
  align-items: center;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
}

.links {
  color: white;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px #000000;
  /* border: 2px solid rgb(195, 41, 41); */
  /* border-radius: 10px; */
  /* text-shadow: 1px 1px 1px #000000; */
}
.links:hover {
  color: rgb(230, 230, 230);
  font-size: 152%;
}

#title {
  /* Add shadow behind the text */
  text-shadow: 1px 1px 1px #4d4d4d;
  color: white;
  font-size: 2.5rem;
}

/* root { */
  /* background-color: #000000; */
/* } */ 
.background {
  background-color: red;
}

#content {
  background-color: white;
  color: black;
}
#file {
  color: black;
}

/* .class-page { */
  /* color: white; */
/* } */
div.post-page {
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  border: 3px solid #f1f1f1;
  z-index: 2;
  width: 100%;
  padding: 20px;
  
}

/* div.post-page image { */
  /* max-height: ; */
/* } */